<!DOCTYPE html>
<html>
<head>
    <title>Top 5 Customers</title>
</head>
<body>
    <h1>Top 5 Customers in the Last 6 Months</h1>
    <table border="1">
        <tr>
            <th>Customer ID</th>
            <th>Customer Name</th>
            <th>Total Spent</th>
        </tr>
        {% for customer in top_customers %}
        <tr>
            <td>{{ customer.customer__id }}</td>
            <td>{{ customer.customer__username }}</td>
            <td>${{ customer.total_spent }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
